body {
    background-image: url('pinetree.png.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.yellow{
    font-size: 50px;
    font-style: italic;
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    justify-content: center;
}
li{
    display: flex;
    justify-content: space-between;
}
p{
    display: flex;
    justify-content: center;
}